<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="owin:AutomaticAppStartup" value="true" />
    <add key="OracleConnection" value="DATA SOURCE=localhost:1521/XE;PASSWORD=12345;USER ID=david"/>
  </appSettings>
</configuration>